@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: white; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 15px;
}

.button-container
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

}
.button
{
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 5px;
  background-color: aliceblue;
  border-color: black;
  color: black;
}
.rectangle
{
  width: 400px;
  height: 250px;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-correct
{
  color: green;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.wrong-result
{
  color: red;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}